.bottom {
  height: 10%;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(14px, 1vw, 28px);
}
.bottom p {
  color: gray;
  letter-spacing: 0.2rem;
}
.bottom h5 {
  font-weight: 100;
  letter-spacing: 0.2rem;
  color: #a3c0f2;
}