* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
    background-color: #2b2b2b;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;

  .left,
  .right {
    height: 100%;
    flex-basis: 50%;
    border-radius: 0.7rem;
  }
  .left {
    background-color: rgb(37, 37, 37);
    position: relative;

    .code {
      height: 100%;
      width: 100%;
      caret-color: white;
      font-weight: 500;

      pre {
        height: 100%;
        width: 100%;
        margin: 0;
        border-radius: 0.7rem;
        background-color: #2b2b2b;
        color: whitesmoke;
      }
    }
    .review {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      background-color: blanchedalmond;
      color: rgb(0, 0, 0);
      padding: 0.5rem 2rem;
      border-radius: 0.7rem;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
    }
  }
  .right {
    background-color: rgb(29, 28, 28);
    padding: 1rem 2rem;
    overflow: auto;
  }
}

@media (max-width:410px) {
    main{
        flex-direction: column;
    }
}